html, body{
  margin:0;
  padding:0;
  font-family: courier; /*'Droid Serif', serif;*/
  color:#fff;
  font-size: 14pt;
  height:100%;
  width:100%;
}
.navbar
{
  background-color:rgba(255,255,255,0.5);
  border:none;
}
.navbar-toggle
{
  border:none;
}
.logo
{
  font-family: 'Dancing Script', cursive;
  font-size:2em;
  padding:16px;
}
.logo:hover
{
  background-color:transparent;
}
.logo:active
{
  color:inherit;
}

.greenText
{
  color:#02E880;
}