.toolbox-box
{
  width:100%;
}
.toolbox-item
{
  width:4em;
  height:4em;
  margin-left:1.5em;
  margin-top:0.5em;
  margin-bottom:0.5em;
  float:left;
  text-align:center;
}
.toolbox-item span
{
  font-size:0.6em;
}
.tooltip
{
  font-size: 0.6em;
  z-index:99;
  position:fixed;
}
.arbitraryObject
{
  min-height:2em;
  min-width:2em;
}
.draggableWrapper
{
  display:inline-block;
  position:relative;
  border:dotted 1px #333333;
}
.mover
{
  position:absolute;
  top:-10px;
  left:-10px;
  height:20px;
  width:20px;
  cursor:move;
}